.footer {
  width: 100%;
  padding: 20px 10px;
  text-align: center;

  /* glass effect */
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);

  border-top: 1px solid rgba(255,255,255,0.2);

  color: #e6f0ff;
  font-family: 'Poppins', sans-serif;
}

.footer-links a {
  color: #025971;
  text-decoration: none;
  margin: 0 8px;
}

.footer-links a:hover {
  text-decoration: underline;
  color: white;
}