/* MENU ICON */

.menu-icon{
position:fixed;
top:20px;
right:20px;
cursor:pointer;
z-index:1001;
}

.menu-icon img{
width:35px;
height:35px;
}


/* SIDE NAVBAR */

.side-navbar{
position:fixed;
top:0;
right:-260px;
width:250px;
height:100%;
background:#b2c2d6;
display:flex;
flex-direction:column;
align-items:center;
padding-top:40px;
transition:0.3s;
z-index:1000;
border-radius: 25px;
}

/* when open */

.side-navbar.active{
right:0;
}


/* logo */

.navbar-logo{
margin-bottom:30px;
}

/* links */

.navbar-links{
list-style:none;
display:flex;
flex-direction:column;
gap:40px;
padding:0;
}

.navbar-links li a{
color:rgb(4,33,91);
text-decoration:none;
font-weight:500;
font-family:cursive;
font-size:18px;
}

.navbar-links li a:hover{
color:white;
transition:0.2s;
}