.privacy-page,
.terms-page{
  padding:40px 0;
  min-height:100vh;
  font-family:'Poppins', sans-serif;
  color:white;
}

.privacy-container,
.terms-container{
  width:85%;
  margin:auto;
}

.privacy-title,
.terms-title{
  text-align:center;
  color:#e6f0ff;
  margin-bottom:20px;
  font-family:cursive;
}

.privacy-intro,
.terms-intro{
  text-align:center;
  max-width:700px;
  margin:auto;
  margin-bottom:40px;
  color:rgba(255,255,255,0.8);
}

/* GRID */

.privacy-sections,
.terms-sections{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

/* GLASS CARD */

.privacy-card,
.terms-card{
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(15px);

  padding:25px;
  border-radius:15px;
  border:1px solid rgba(255,255,255,0.2);

  box-shadow:0 8px 30px rgba(0,0,0,0.3);
  transition:0.3s;
}

.privacy-card:hover,
.terms-card:hover{
  transform:translateY(-8px);
}

.privacy-card h2,
.terms-card h2{
  color:white;
}

.privacy-card p,
.terms-card p,
.privacy-card li,
.terms-card li{
  color:rgba(255,255,255,0.85);
}