/* src/templates/experienced/ExperiencedResume.css */
.experienced-editor-container {
  display: flex; 
  gap: 24px; 
  padding: 24px; 
  height: auto !important;
  font-family:'Poppins', sans-serif; 
  box-sizing: border-box; 
  margin: 20px 0; 
  background: #f3f4f6;
  overflow: auto;
} 
.resume-measure3 {
  position: absolute;
  visibility: hidden;
  left: -9999px;
  width: 595px;
}
 .resume-pages3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;   /* ⭐ clean professional spacing */
}

.experienced-editor-sidebar {
  flex: 0.5; 
  background: #b2c2d6 !important;
  padding: 24px; 
  border-radius: 14px; 
  overflow-y: auto; 
   height: 450px !important;
  min-width: 0; 
  color:rgb(26, 116, 206) !important ;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25); 
}

.experienced-editor-sidebar input,
.experienced-editor-sidebar textarea {
  width: 90%; 
  margin-bottom: 12px; 
  padding: 10px; 
  border-radius: 8px; 
  border: 1px solid #fff; 
  font-size: 14px; 
  background: #b2c2d6 !important;
  color: black !important; 
  outline: none;
}

.download-button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.delete-btn {
  background: #ef4444 !;
  color: #fff;
}

.experienced-editor-sidebar button:hover {
  background-color: #1d4ed8;
}

.experienced-editor-preview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 500px !important;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0px 0;
}

.experienced-editor-preview h1 {
  font-size: 20px;

  font-family: 'Lato', sans-serif;
  margin-top: 38px;
}
.gap3{
  height: 25px;
  background-color: #d8cc1d;
  width: 350px;
  margin-top: 40px !important;
  text-align: center;
  margin-left: 10px;
}
.wrap{
  display: flex;
}


.semi-circle{
  width: 50px;
  height: 100px;
  background-color:#d8cc1d;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  margin-left: -10px;
}
.wrap4{
  display: flex;
}
.wrap4 p{
  border: 2px solid #d8cc1d;
  width: 50%;
  margin: 2px 5px !important;
  font-size: 12px;
}

.experienced-editor-preview h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 2px solid #d8cc1d;
}

.experienced-editor-preview p, 
.experienced-editor-preview li {
  margin: 3px 0;
}
.pdf-page2 {
  border: 2px solid #d8cc1d;
   width: 595px;
  min-height: 842px;   /* ✅ REAL A4 */
  background: #fff;
  position: relative;
  box-shadow: 0 8px 28px rgba(0,0,0,0.12);
  border-radius: 6px;
  margin-bottom: 24PX;   /* smaller clean gap */
}
.header-block3{
  break-inside: avoid;
  page-break-inside: avoid;
}
.wrap1{
  display: flex;
}

.no-print{
display:block;
background-color: #2563eb !important;
}

.pdf-export .no-print{
display:none !important;
}
@media (max-width:1000px){
.app-container{
  height: auto !important;
}
.experienced-editor-container{
flex-direction:column;
height:auto !important;
width:100% !important;
}
.experienced-editor-preview{
transform:none;
}

.editor-sidebar{
width:90%;
height:700px !important;
}

.experienced-editor-preview {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: flex-start;
height: auto;
overflow-x: auto;
overflow-y: auto;
padding: 10px;
}
.pdf-page2  {
width: 595px;
min-height: 842px;
background: #fff;
position: relative;
box-shadow: 0 8px 28px rgba(0,0,0,0.12);
border-radius: 6px;
margin: 0;
margin-bottom: 24PX;
}
.resume-pages {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 14px;
min-width: 595px;
}
.download-btn no-print{
display:block;
background-color: #2563eb !important;
}
}

@media (max-width:768px){

.experienced-editor-container{
flex-direction:column;
height:auto !important;
width:100% !important;
}
.experienced-editor-preview{
transform:none;
}

.experienced-editor-sidebar{
width:90%;
height:700px !important;
}

.experienced-editor-preview {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: flex-start;
height: auto;
overflow-x: auto;
overflow-y: auto;
padding: 10px;
}
.pdf-page2 {
width: 595px;
min-height: 842px;
background: #fff;
position: relative;
box-shadow: 0 8px 28px rgba(0,0,0,0.12);
border-radius: 6px;
margin: 0;
margin-bottom: 24PX;
}
.resume-pages3 {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 14px;
min-width: 595px;
}
.download-btn no-print{
display:block;
background-color: #2563eb !important;
}
}
