.finance2_pdf-page {
 width: 800;
    height: 500;
  background-image: url("../images/lifedashboard/finance2_background.png");
  background-size: cover;        /* fills screen */
  background-position: center;   /* keeps image centered */
  background-repeat: no-repeat;  /* no repeating */
  position: relative;
  box-shadow: 0 8px 28px rgba(0,0,0,0.12);
  border-radius: 6px;
  margin-bottom: 24PX;   /* smaller clean gap */
  margin-left: 180px;
}
.finance2_l1{
  margin-left:180px;
  padding: 30px;
}
.finance2_l2{
  margin-left:50px
}
.finance2_l3{
  margin-left:50px
}
.finance2_l4{
  margin-left:50px
}
.finance2_finance-grid {
  display: flex;
  margin-top: 20px;
}
.finance2_finance-grid div {
  background: #dfb552;
  padding: 0px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;

}
.finance2_middle-section {
  display: flex;
  margin-top: 10px;
  margin-left: 150px;
}
.finance2_resume-content {
  width: 840px;
  padding: 28px;
  box-sizing: border-box;
}
.finance2_progress {
  background: #dfb552;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  width: 100%;
  margin: 20px 30px 30px 0px;
}
.finance2_finance_goals {
  margin: 5px 80px 10px 210px;
  background: #dfb552;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  width: 60%;
}
@media (max-width:768px){
.finance2_pdf-page {
  margin-left: 500px;
}
}