.goalsystem2_pdf-page {
  width: 800;
    height: 540;
  background-image: url("../images/lifedashboard/goalsystem2_background.png");
  background-size: cover;        /* fills screen */
  background-position: center;   /* keeps image centered */
  background-repeat: no-repeat;  /* no repeating */
  min-height: 100vh;     
  position: relative;
  box-shadow: 0 8px 28px rgba(0,0,0,0.12);
  border-radius: 6px;
  margin-bottom: 24PX;   /* smaller clean gap */
  color: white;
  margin-left: 170px;
}
.goals2-header {
  display: flex;
  justify-content: space-between;
  color: #445999;
  margin-left: 700px;
}
.goals2_goals-grid {
   display: grid;
  grid-template-columns: repeat(2, 320px); /* 2 columns */
  column-gap: 10px; /* horizontal gap between left and right */
  row-gap: 20px;    /* vertical gap */
  justify-content: center;
  margin-left: 130px;
}

/* CARD */
.goals2_goal-card {
  background: #445999;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  color: white;font-size: 10px;
}
@media (max-width:768px){
.goalsystem2_pdf-page {
  margin-left: 500px;
}
}