.lifeweeklyplanner1_pdf-page {
  width: 800;
    height: 540;
  background-image: url("../images/lifedashboard/weeklyplanner1_background.png");
  background-size: cover;        /* fills screen */
  background-position: center;   /* keeps image centered */
  background-repeat: no-repeat;  /* no repeating */
  position: relative;
  box-shadow: 0 8px 28px rgba(0,0,0,0.12);
  border-radius: 6px;
  margin-bottom: 24PX;   /* smaller clean gap */
  margin-left: 230px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.weeklyplanner1_priorities_card {
  background: rgb(83, 15, 102);
  padding: 0px 50px;
  border-radius: 10px;
  color: white;
  margin-left: -10px;
  font-size: 12px;
}
.weeklyplanner1_schedule_card {
  background: rgb(83, 15, 102);
  padding: 0px;
  border-radius: 10px;
  color: white;
  margin-left: 250px;
  margin-right: -10px;
  width:"200px"
}
.weeklyplanner1_habit_card {
  background: rgb(83, 15, 102);
  padding: 0px 15px;
  border-radius: 10px;
  color: white;
  margin-left: -10px;
  margin-top: 0px;
}
.weekly_header{
  font-size: 15px;
  margin-top: 50px;
  margin-left: 70px;
}
.weeklyplanner1_reflection_card {
  background: rgb(83, 15, 102);
  padding: 15px;
  border-radius: 10px;
  color: white;
  margin-right: 70px;
  margin-left: 210px;
  margin-right: -200px;
  width:300px;
  text-align: center;
}
.weekly1_habit-days {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  font-size: 11px;
  margin-bottom: 5px;
}
@media (max-width:768px){
.lifeweeklyplanner1_pdf-page {
  margin-left: 500px;
}
}